body {
    background-color: #31383D;
    /* background-color: #006ece; */
    color: #000;
    /* height: 100vh; */
}

.container {
    margin-top: 20px;
}

.col-right {
    background-color: #212529;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
}

.date {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    background-color: #94ABFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.date-picker {
    /* width: 100%; */
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1.3vw;
}

.filter {
    background-color: #31383D;
    border-radius: 25px;
    padding: 10px;
    color: #F0F8FF;
    /* height: 300px; */
}

.accordion {
    background-color: #31383D;
    border: none;
    color: #F0F8FF;
}

.accordion-item {
    border: none;
    background-color: #31383D;
    color: #F0F8FF;
}

.accordion-button {
    background-color: #31383D;
    border: none;
    color: #F0F8FF;
}

.accordion-button::after {
    background-image: url(/img/start-arrow.svg);
}

.accordion-button:focus {
    background-color: #31383D;
    border: none;
    box-shadow:none;
    color: #94ABFF;
}

.accordion-button:not(.collapsed) {
    background-color: #31383D;
    color: #94ABFF
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/arrow.svg);
}
.checkbox-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden-block {
    display: none;
}

.accordion-body{
    max-height: 240px;
    overflow-y: auto;
}

.accordion-body::-webkit-scrollbar {
    /* display: none */
    width: 5px;
    background-color:#31383D;
    border-radius: 24px;
}

.accordion-body::-webkit-scrollbar-thumb{
    background-color: #484a4f;
    border-radius: 24px;
    height: 25px;
}

#clearArea, #clearSport{
    position: sticky;
    bottom: -10px;
    float: right;
    border-radius: 30px;
    padding: 5px;
    width: 70px;
    background-color: #21252930;
    color: #f0f8ff47;
    border: none;
    transition: 0.2s linear;

}

#clearArea:hover,
#clearSport:hover {
    background-color: #212529;
    color: #f0f8ff;
    transition: 0.2s linear;
}


#info-mark {
    background-color: #31383D;
    border-radius: 10px;
    padding: 5px;
    color: #F0F8FF;
}

.mark-item {
    border-top: 1px solid #000;
    margin-top: 5px;
}

.mark-item .row{
    align-items: center;
    
}

.center-text{
    text-align: center;
}

.desc {
    margin-bottom: 0;
}

.btn-show-play {
    float: right;
    background-color: #0D6EFD;
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 12px;
    text-decoration: none;
    margin-top: 5px;
}

.hint {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}



.comfort {
    width: 80%;
}

/* ---!! MODAL PART !!--- */
.modal {
    top: 55px
}

.modal-dialog {
    margin-right: 0;
    width: 60%;
    float: right;

}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: none;
    }

}

.modal-content {
    min-height: 620px;
    background-color: #94ABFF;
    color: #F0F8FF;
}

.close {
    background: none;
    border: none;
}

.modal-header {
    border: none;
    background-color: #212529;
    border-radius: 0 0 10px 10px;
    margin: 0 20px;
}

.modal-body {
    font-size: 20px;
    background-color: #212529;
    margin: 20px;
    border-radius: 10px;
}

.upper-title{
    text-transform: uppercase;
    font-size: 24px;
}

.config-play {
    float: right;
}
.config-play p{
    color: #B9BBBE;
    margin: 0;
}

.inventary{
    /* display: flex; */
    /* flex-direction: row; */
}
.inventary-box{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 10px;

    border: 2px solid #F0F8FF;
    height: 60px;
    width: 40%;
    padding-left: 5px;
}

#plusInventoryUser {
    height: 75% ;
    margin: 0 5px;
}

.team-box {
    width: 80%;
    border: 2px solid #F0F8FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 300px;
    align-items: center;

    border-radius: 5px;

}

.team-box::-webkit-scrollbar {
    display: none;
}

.item {
    vertical-align: middle;
    color: #212529;
    background-color: #F0F8FF;
    height: 45px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;

}

.team-item {
    vertical-align: middle;
    color: #212529;
    background-color: #F0F8FF;
    height: 40px;
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.deleteFromTeam {
    float: right;
    height: 90%;
    cursor: pointer;
    margin-left: 5px;
}
