body {
    height: 100vh;
    background-color: #31383D;
    color: #F0F8FF;
}

.container {
    margin-top: 40px;
}

.check {
    justify-content: center;
}

.more-play {
    height: 650px;
    width: 100%;
}

.all-plays {
    height: 650px;
    overflow-x: auto;

}

.all-plays::-webkit-scrollbar {
    /* display: none */
    width: 5px;
    background-color: #31383D;
    border-radius: 24px;
}

.all-plays::-webkit-scrollbar-thumb {
    background-color: #31383D;
    border-radius: 24px;
    height: 25px;
}

.more-container {
    padding: 20px;
    width: 85%;
    margin: 0 auto;

}

.more-info {
    background-color: #666D75;
    height: 600px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.all-container {
    padding: 20px;

}

.play-item{
    background-color: #212529;
    height: 160px;
    width: 80%;
    border-radius: 25px;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}


.decorate {
    background-color: #94ABFF;
    width: 10px;
    height: 120px;
    border-radius: 25px;
}

.info-block {
    padding: 0 30px;
    padding-top: 50px;
    
}

.address, .datetime, .namesport, .teamlist{
    font-size: 20px;
}

.team-container {
    background-color: #31383D;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
}

.team-container::-webkit-scrollbar {
    display: none;
}

.team-item {
    vertical-align: middle;
    margin-bottom: 15px;

}

.item-text {
    margin: 0;
}

.nickname-title {
    font-weight: bold;
    color: #94ABFF;;
}

.block-out-team {
    float: right;
}

.btn-out-team {
    color: #B9BBBE;
    background-color: #4e535a;
    width: 180px;
    transition: 0.2s;

}

.btn-out-team:hover {
    background-color: #575c63;

}

/* ---!! MODAL PART !!--- */
.modal {
    top: 55px
}

.modal-dialog {
    margin-right: 0;
    width: 60%;
    float: right;

}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: none;
    }

}

.modal-content {
    min-height: 620px;
    background-color: #94ABFF;
    color: #F0F8FF;
}

.close {
    background: none;
    border: none;
}

.modal-header {
    border: none;
    background-color: #212529;
    border-radius: 0 0 10px 10px;
    margin: 0 20px;
}

.modal-body {
    font-size: 20px;
    background-color: #212529;
    margin: 20px;
    border-radius: 10px;
}

.upper-title {
    text-transform: uppercase;
    font-size: 24px;
}

.config-play {
    float: right;
}

.config-play p {
    color: #B9BBBE;
    margin: 0;
}

.inventary-box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 10px;
    border: 2px solid #F0F8FF;
    height: 60px;
    width: 40%;
    padding-left: 5px;
}

#insertInventory {
    height: 75%;
    margin: 0 5px;
}

.team-box {
    width: 80%;
    border: 2px solid #F0F8FF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 300px;
    align-items: center;

    border-radius: 5px;

}

.team-box::-webkit-scrollbar {
    display: none;
}

.item {
    vertical-align: middle;
    color: #212529;
    background-color: #F0F8FF;
    height: 45px;
    min-width: 250px;
    padding: 10px;
    border-radius: 5px;
    /* margin: 5px; */

}

.team-item {
    vertical-align: middle;
    color: #212529;
    background-color: #F0F8FF;
    height: 40px;
    min-width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.deleteFromTeam {
    float: right;
    height: 90%;
    cursor: pointer;
    margin-left: 5px;
}

.deleteInventory {
    float: right;
    height: 90%;
    cursor: pointer;
    margin-left: 5px;
}